<div class="single-product">
  <div class="discount" *ngIf="product.sale != 0">-{{ product.sale }}%</div>
  <div class="card-top position-relative">
    <div class="status" *ngIf="!product.status">
      <span>{{ product.status ? "" : "Hết hàng" }}</span>
    </div>
    <img
      class="img-thumb"
      [src]="bucket + product.thumbnails[0]"
      [routerLink]="['/products', 'laptop', product.laptop_id]"
    />
  </div>
  <div>
    <h6 [routerLink]="['/products', 'laptop', product.laptop_id]">
      {{ product.name }}
    </h6>
    <p class="screensize-icon">
      <img
        src="../../../assets/products-list-page-banner/icon screen size.png"
        alt="cart icon"
      />
      <span>{{ product.filter.screen_size | getCoreName: "display" }}</span>
    </p>
    <p class="cpu-icon">
      <img
        src="../../../assets/products-list-page-banner/icon-cpu.png"
        alt="cpu icon"
      />
      <span>{{ product.CPU.name }}</span>
    </p>
    <p class="ram-icon">
      <img
        src="../../../assets/products-list-page-banner/icon-ram.png"
        alt="ram icon"
      />
      <span>{{ product.RAM.capacity }}</span>
    </p>
    <p class="storage-icon">
      <img
        src="../../../assets/products-list-page-banner/Storage-icon.png"
        alt="cpu icon"
      />
      <span>{{ product.filter.storage }}</span>
    </p>
    <p class="graphic-icon">
      <img
        src="../../../assets/products-list-page-banner/icon-vga.png"
        alt="graphic icon"
      />
      <span>{{ product.graphic }}</span>
    </p>
  </div>
  <div style="margin-top: auto">
    <div class="price my-3">
      <span class="sale" *ngIf="product.sale != 0"
        >{{
          product.price - (product.price / 100) * product.sale | convertPrice
        }}
        ₫</span
      >
      <div>
        <span [class]="product.sale != 0 ? 'original' : 'originalp'"
          >{{ product.price | convertPrice }} ₫</span
        >
      </div>
    </div>
    <button
      *ngIf="comparable"
      class="compare btn"
      (click)="compareOrRemove(product, $event)"
    >
      Thêm vào so sánh
    </button>

    <div class="buttons-wrapper text-center" [ngClass]="{'has-one-btn': !product.status}">
      <button
        class="explore-more btn"
        [routerLink]="['/products', 'laptop', product.laptop_id]"
      >
        <i class="fas fa-search mr-1"></i>Tìm hiểu
      </button>

      <button
        class="buy-now btn"
        *ngIf="product.status"
        (click)="add_to_cart(product.laptop_id)"
      >
        <i class="fas fa-shopping-cart mr-1"></i>Mua ngay
      </button>
    </div>
  </div>
</div>
