header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  transition: all 0.4s ease-in-out;
  /* backdrop-filter: blur(3px); */
}

header.sticky {
  background-color: #ebedf1;
  border-bottom: 1px solid #ddd;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

/* style logo */
.logo img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

/* style navigation */
ul.navigation {
  align-self: center;
}
ul.navigation li,
#email {
  font-weight: 550;
  display: inline-block;
  padding: 5px 20px;
  color: white;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease-in-out;
}

#email {
  padding: 0;
  padding-top: 0!important;
  padding-left: 1rem!important;
  align-self: center;
}

ul.navigation li:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background: white;
  transition: all 0.4s ease-in-out;
}
ul.navigation li:not(:last-child):hover::before {
  width: 50px;
  transform-origin: right;
}
li#special,
li#logout {
  padding: 10px 15px;
  margin-left: 15px;
  border-radius: 5px;
  background-color: #0096d6;
}
li#logout {
  margin-right: 79px;
}
li#logout,
li#special:hover {
  color: white;
}
li#special.sticky {
  background-color: #cbe3f1 !important;
}
li#logout.sticky {
  background-color: #cbe3f1 !important;
  margin-right: 79px;
}

li.router-link-active:not(:last-child)::before {
  width: 50px !important;
}
header.sticky li.router-link-active:not(:last-child)::before {
  color: black;
  background: #0290cd;
}
/* style search icon, cart-icon */
.search-icon {
  align-self: center;
  height: 40px;
  line-height: 40px;
}

.cart-icon {
  align-self: center;
  position: relative;
  cursor: pointer;
}

.cart-icon span {
  position: absolute;
  right: -7px;
  top: 0px;
  left: auto;
  bottom: 35px;
  color: #eaf6fe;
  font-weight: 600;
  border: 1px solid;
  border-radius: 142%;
  line-height: 19px;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: red;
  display: inline-block;
  font-size: 15px;
}

#hamburger-menu {
  font-size: 2rem;
  color: #2e7ad5;
  padding-left: 1rem;
  height: 40px;
}

li.sticky,
li#email.sticky {
  color: #0290cd !important;
}

/* style mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100vh;
  width: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.mobile-menu ul.main-navigation {
  width: min(300px, 100%);
  height: 100%;
  background-color: white;
  overflow: auto;
  float: right;
  transform: translateX(100%);
  transition: all 0.4s;
}

.mobile-menu ul.main-navigation {
  padding: 2rem;
}

.mobile-menu ul.main-navigation li {
  padding: 10px 0;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.mobile-menu ul.main-navigation li.router-link-active {
  color: #2e7ad5;
}

.mobile-menu ul.main-navigation li i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.mobile-menu ul.main-navigation li button.auth-btn {
  color: white;
  background-color: #0096d6;
  border-radius: 5px;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.mobile-menu.show {
  opacity: 1;
  pointer-events: all;
}

.mobile-menu.show ul.main-navigation {
  transform: translateX(0);
}
