<!--Bảo hành -->
<div *ngIf="title == 'warranty'">
  <div class="banner_warranty">
    <h1>Chính sách bảo hành</h1>
  </div>
  <div style="background-color: #efefef; padding: 70px 0">
    <div class="container">
      <h5>1. Bảo hành tiêu chuẩn</h5>
      <div class="container" style="margin-bottom: 20px">
        <img
          src="../../../assets/policies page/bao-hanh-tieu-chuan.png"
          alt=""
        />
      </div>
      <h5>2. Bảo hành mở rộng</h5>
      <p>
        Ngoài gói bảo hành tiêu chuẩn (mặc định), quý khách hàng được chọn thêm
        gói bảo hành mở rộng: Rơi vỡ, rớt nước với những quyền lợi bảo hành vượt
        trội. Nổi bật như: Bảo hành ngay cả khi rơi vỡ, rớt bể, 1 đổi 1 trong 1
        năm...
      </p>
      <div class="container" style="margin-bottom: 20px">
        <img src="../../../assets/policies page//bao-hanh-mo-rong.png" alt="" />
      </div>
      <h5>3. Thời gian bảo hành</h5>
      <p>
        <span>
          Tất cả các dòng sản phẩm đều có thời gian bảo hành chính hãng 1 năm
          tính từ ngày khách hàng cuối mua hàng. Khách hàng khi mua máy yêu cầu
          cửa hàng cung cấp hóa đơn VAT có số Serial Number để giữ làm phiếu bảo
          hành.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- Giao hàng -->
<div *ngIf="title == 'delivery'">
  <div class="banner_delivered">
    <h1>Chính sách giao hàng</h1>
  </div>
  <div style="background-color: #efefef; padding: 70px 0">
    <div class="container">
      <h4>1. Phạm vi áp dụng</h4>
      <p>- Trên toàn quốc</p>
      <h4>2. Thời gian nhận hàng</h4>
      <p>
        - Chúng tôi nhận giao nhanh trong ngày với khoảng cách từ các siêu thị
        có hàng đến điểm giao là 20 km. Khoảng cách lớn hơn nhân viên của chúng
        tôi sẽ tư vấn cách thức giao hàng thuận tiện nhất cho khách hàng. Cụ thể
        như sau
      </p>
      <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Khoảng cách đến nhà khách từ siêu thị gần nhất có hàng</th>
              <th>Hà Nội và TP. HCM</th>
              <th>Các tỉnh thành khác</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Dưới 5km</td>
              <td>Giao trong 30 phút</td>
              <td>Giao trong 30 phút</td>
            </tr>
            <tr>
              <td>Từ 5-10km</td>
              <td>Giao trong 1 tiếng</td>
              <td>Giao trong 1 tiếng</td>
            </tr>
            <tr>
              <td>Từ 10-20km</td>
              <td>Giao trong 2 tiếng</td>
              <td>Giao trong 2 tiếng</td>
            </tr>
            <tr>
              <td>Lưu ý</td>
              <td>Thời gian giao hàng 9:00 đến 21:00</td>
              <td>Thời gian giao hàng 9:00 đến 20:00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        * Riêng đối với đơn hàng giá rẻ online, sản phẩm sẽ được giao sớm nhất
        là 1 ngày sau khi đặt.
      </p>
      <h4>3. Phí giao hàng</h4>
      <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>MỨC GIÁ</th>
              <th>PHÍ GIAO</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Giá trên 500.000đ</td>
              <td>
                - Miễn phí 10km đầu tiên <br />
                - Mỗi km tiếp theo tính phí 5.000đ/km <br />
                VD: Sạc dự phòng giá 600.000đ, khoảng cách giao hàng là 13 km
                >>> Phí giao hàng là: 15.000đ
              </td>
            </tr>
            <tr>
              <td>Giá 500.000đ trở xuống</td>
              <td>
                - Phí giao hàng 20.000đ cho 10km đầu tiên <br />
                - Mỗi km tiếp theo tính phí 5.000đ/km <br />
                VD: Sạc dự phòng 500.000đ, khoảng cách giao hàng là 13 km >>>
                Phí giao hàng là: 20.000đ + 15.000đ = 35.000đ
              </td>
            </tr>
            <tr>
              <td>Giá trên 5 triệu</td>
              <td>
                - Phí giao hàng 20.000đ cho 10km đầu tiên <br />
                - Mỗi km tiếp theo tính phí 5.000đ/km
              </td>
            </tr>
            <tr>
              <td>Giá 5 triệu trở xuống</td>
              <td>
                - Phí giao hàng 50.000đ cho 10km đầu tiên <br />
                - Mỗi km tiếp theo tính phí 5.000đ/km <br />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h5>Lưu ý:</h5>
      <p>
        Nếu có sự băn khoăn trong việc lựa chọn sản phẩm, hãy để nhân viên giao
        hàng của chúng tôi sẽ đem hơn 2 sản phẩm (đem thêm mẫu máy khác, đem
        thêm màu khác) theo yêu cầu của bạn đến tận nơi tư vấn.
      </p>
      <p>
        - Kỹ thuật viên của chúng tôi sẽ giúp Quý khách khám phá kỹ hơn những
        tính năng ưu việt của từng sản phầm để Quý khách có được lựa chọn tốt
        nhất. <br />
        - Quý khách chỉ thanh toán khi thật sự hài lòng với sản phẩm và chất
        lượng dịch vụ của chúng tôi. Chúng tôi sẽ không tính bất kỳ khoản phí
        nào cho đến khi Quý khách hoàn toàn đồng ý. <br />
        - Khi Quý khách hoàn toàn hài lòng với sự lựa chọn của mình, Quý khách
        có thể thanh toán ngay bằng các thẻ quốc tế, nội địa mà không cần phải
        ra ngân hàng rút tiền mặt trước.
      </p>
    </div>
  </div>
</div>

<!-- Đổi trả -->
<div *ngIf="title == 'return'">
  <div class="banner_return">
    <h1>Chính sách đổi trả</h1>
  </div>
  <div style="background-color: #efefef; padding: 70px 0">
    <div class="container">
      <h4>1. Sản phẩm mới</h4>
      <h5>- Sản phẩm lỗi do nhà sản xuất:</h5>
      <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Tháng 1</th>
              <th>Tháng 2-12</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span>- 1 đổi 1 (cùng mẫu, cùng màu, cùng dung lượng...).</span>
                <p>
                  - Trường hợp sản phẩm đổi hết hàng, khách hàng có thể đổi sang
                  sản phẩm khác cùng nhóm hàng có giá trị lớn hơn 50% giá trị
                  sản phẩm lỗi
                </p>
                <p>
                  Hoặc: Khách hàng trả máy & chúng tôi hoàn lại tiền với mức giá
                  bằng 80% giá trên hoá đơn.
                </p>
              </td>
              <td>
                <p>
                  Khách hàng trả máy & Chúng tôi hoàn lại tiền và thu phí thêm
                  5% so với mức hoàn tiền khi trả ở tháng thứ 1.
                </p>
                <p>
                  VD: Ở tháng thứ nhất, nếu khách hàng trả sản phẩm sẽ được hoàn
                  lại tiền với mức giá bằng 80% thì sang tháng thứ 2 nếu khách
                  hàng trả máy sẽ thu phí thêm 5% nên mức hoàn tiền sẽ còn 75%
                  giá trị sản phẩm trên hoá đơn, tháng thứ 3 mức hoàn tiền sẽ
                  trừ thêm 5% thành 70%....
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h5 style="margin-top: 20px">- Sản phẩm không lỗi (không phù hợp với nhu cầu của khách hàng):</h5>
      <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Tháng 1</th>
              <th>Tháng 2-12</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Hoàn lại tiền máy với giá bằng 80% giá trên hoá đơn.</td>
              <td>
                Hoàn lại tiền với mức phí thêm 5% so với tháng thứ 1 (80%). VD:
                tháng thứ 2 hoàn lại tiền với mức giá 75% giá trên hoá đơn,
                tháng thứ 3 là 70%...
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h5 style="margin-top: 20px">- Sản phẩm lỗi do người sử dụng:</h5>
      <ul>
        <li>Không đủ điều kiện bảo hành theo qui định của hãng.</li>
        <li>Máy không giữ nguyên 100% hình dạng ban đầu.</li>
        <li>Màn hình bị trầy xước.</li>
      </ul>
      <h5 style="margin-top: 20px">=> Không áp dụng đổi trả</h5>
      <h4 style="margin-top: 50px">2. Sản phẩm đổi trả, đã qua sử dụng</h4>
      <h5>(*) Rất tiếc, chúng tôi chưa áp dụng đổi trả trong trường hợp này</h5>
    </div>
  </div>
</div>
