.banner_return {
  background-image: url("src/assets/policies page/banner-hoan-tra.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  background-size: cover;
  position: relative;
}

.banner_return h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner_warranty {
  background-image: url("src/assets/policies page/phone-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  background-size: cover;
  position: relative;
}

.banner_warranty h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner_delivered {
  background-image: url("src/assets/policies page/banner-giao-hang.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  background-size: cover;
  position: relative;
}

.banner_delivered h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
