.select-style {
    position: absolute;
    display: flex;
    right: 20px;
    width: 150px;
    border: 1px solid #141414;
    overflow: hidden;
    outline: none;
    height: 35px;
}

.select-style span {
    left: 125px;
    margin-top: 2.5px;
    position: relative;
}

.select-style select {
    position: absolute;
    padding: 5px 10px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus-visible{
    outline: none;
}