<div class="categories">
  <div class="wrapper">
    <div class="category-item">
      <div class="info-item">
        <h1 class="title">Apple</h1>
      </div>
    </div>
    <div class="category-item">
      <div class="info-item">
        <h1 class="title">Samsung</h1>
      </div>
    </div>
    <div class="category-item">
      <div class="info-item">
        <h1 class="title">Xiaomi</h1>
      </div>
    </div>
    <div class="category-item">
      <div class="info-item">
        <h1 class="title">Realme</h1>
      </div>
    </div>
  </div>
</div>
