<footer>
  <div class="container">
    <div class="footer-top">
      <div class="logo">
        <img
          src="../../../assets/products-list-page-banner/logo HP.png"
          alt=""
        />
      </div>
      <p class="contact-us">Liên hệ với chúng tôi</p>
      <div class="social-icons">
        <span class="facebook"> <i class="fab fa-facebook-f"></i> </span>
        <span class="whatsapp">
          <i class="fab fa-whatsapp"></i>
        </span>
        <span class="gmail">
          <i class="far fa-envelope"></i>
        </span>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="footer-link">
        <li routerLink="/policies">Chính sách hỗ trợ</li>
        <li routerLink="/check-coverage">Tra cứu bảo hành</li>
      </ul>
    </div>
    <div class="copyright">
      <p>Copyright © 2020. All Rights Reserved By Minastik</p>
    </div>
  </div>
</footer>
