
/* style carousel */
.carousel-inner,
.carousel-item,
.carousel-item img {
  height: 700px;
  object-fit: cover;
}

/* style carousel prev and next buttons */
/* style prev and next slide button */
.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
  background-color: transparent;
}
span.carousel-control-prev-icon,
span.carousel-control-next-icon {
  background-image: none;
}
.carousel-control {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #f8f9fa;
  background-color: transparent;
  color: #f8f9fa;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
span i.fas {
  position: relative;
}
/* span i.fas::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ebe9cf;
  width: 60px;
  height: 4px;
  transition: all 0.4s;
} */
span.carousel-control-prev-icon i.fas::after {
  left: 5px;
}
span.carousel-control-next-icon i.fas::after {
  right: 5px;
}
.carousel-control:hover i.fas::after {
  width: 0px;
}

/* style carousel indicators */
.carousel-indicators li {
  border-radius: 50% !important;
  width: 15px !important;
  height: 15px !important;
}
.carousel-indicators li.active {
  background-color: #3ba3eb;
}

/* style carousel caption */
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
}
.carousel-caption h1 {
  font-size: 60px;
  font-weight: 600;
  text-align: left;
}
.carousel-caption p {
  font-size: 28px;
  text-align: left;
  margin-top: 1rem;
}
.cta-buttons {
  margin-top: 1.5rem;
  text-align: left;
}
.cta-buttons button {
  display: inline;
}
button.explore {
  width: 140px;
  height: 50px;
  border-radius: 5px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  background-color: #ff4040;
  transition: all 0.2s ease-in-out;
}
button.explore:hover {
  background: #ff4040;
}
button.trailer {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
button.trailer i {
  font-size: 18px;
  color: white;
  margin-left: 3px;
  margin-top: 3px;
  transition: all 0.2s ease-in-out;
}
button.trailer:hover {
  border-color: #ff4040;
}
button.trailer:hover i {
  color: #ff4040;
}