<div class="main-content-wrapper mt-5">
  <div class="container">
    <div class="row" *ngIf="product">
      <div class="col-lg-6">
        <div class="gallery">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-ride="carousel"
            data-interval="false"
          >
            <ol class="carousel-indicators">
              <li
                data-target="#carouselExampleControls"
                data-slide-to="0"
                class="active"
              >
                <img [src]="product.imageUrls[0]" />
              </li>
              <li
                data-target="#carouselExampleControls"
                *ngFor="
                  let image of product.imageUrls | slice: 1;
                  let id = index
                "
                [attr.data-slide-to]="id + 1"
              >
                <img [src]="image" />
              </li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  class="d-block mx-auto img-fluid"
                  [src]="product.imageUrls[0]"
                />
              </div>
              <div
                class="carousel-item"
                *ngFor="let image of product.imageUrls | slice: 1"
              >
                <img class="d-block mx-auto img-fluid" [src]="image" />
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleControls"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control carousel-control-prev-icon"
                aria-hidden="true"
                ><i class="fas fa-chevron-left"></i
              ></span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleControls"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control carousel-control-next-icon"
                aria-hidden="true"
                ><i class="fas fa-chevron-right"></i
              ></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="brief-desc">
          <h2 class="name">{{ product.name }}</h2>
          <div class="users-overview">
            {{ product.interaction.rating_point }}
            <span class="stars-wrapper">
              <span class="active-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </span>
              <!-- <span class="inactive-star">
                <i class="fas fa-star"></i>
              </span> -->
            </span>
            <span
              *ngIf="product.interaction.comments === 0 && product.interaction.rates === 0"
              class="total-ratings"
               (click)="goToComment(matTabGroup, comment)"
              >Chưa có bình luận và đánh giá</span
            >
            <span
              *ngIf="product.interaction.comments !== 0 || product.interaction.rates !== 0"
              (click)="goToComment(matTabGroup, comment)"
              class="total-ratings"
              >Xem <span>{{ product.interaction.comments }}</span> bình luận và
              <span>{{ product.interaction.rates }}</span> đánh giá</span
            >
          </div>
          <div class="price-wrapper">
            <span class="sale" *ngIf="product.sale != 0"
              >{{
                product.sale | convertPrice
              }}
              ₫</span
            >
            <span [class]="product.sale != 0 ? 'original' : 'originalp'"
              >{{ product.price | convertPrice }} đ</span
            >
            <span class="discount" *ngIf="product.sale != 0"
              >-{{((product.price - product.sale) / product.price)* 100 | number:'1.0-0' }}%</span
            >
          </div>
          <ul class="specs-overview">
            <li>
              <strong>Kích thước màn hình: </strong>
              <span>{{ product.screen_size }}</span>
            </li>
            <li>
              <strong>Công nghệ màn hình: </strong>
              <span>{{ product.screen_resolution}}</span>
            </li>
            <li>
              <strong>Độ phân giải màn hình: </strong>
              <span>{{ product.display }}</span>
            </li>
            <li>
              <strong>Dung lượng RAM: </strong>
              <span>{{ product.ram }}</span>
            </li>
            <li>
              <strong>Bộ nhớ: </strong>
              <span>{{ product.storage }}</span>
            </li>
            <li>
              <strong>Dung lượng pin: </strong>
              <span>{{ product.battery }}</span>
            </li>
          </ul>
          <div class="choose-colors">
            <span class="mr-2">Chọn màu sắc</span>
            <div class="filter">
              <div
                class="filter-color"
                *ngFor="let color of productColors; let id = index"
                (click)="chooseColor(id)"
                [ngStyle]="{ 'background-color': color }"
              ></div>
            </div>
          </div>
          <button
            class="btn purchase-now"
            (click)="add_to_cart(product._id)"
          >
            Mua ngay
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="product-info-wrapper" #comment>
          <mat-tab-group mat-align-tabs="center" dynamicHeight #matTabGroup>
            <mat-tab label="Khuyến mãi">
              <div class="gifts">
                <ng-template
                  #promotion
                  let-img="img"
                  let-title="title"
                  let-price="price"
                  let-className="className"
                >
                  <div class="col-xl-3 col-md-4 col-sm-6 mb-sm-0 mb-30">
                    <div class="single-gift" [class]="className">
                      <div class="gift-img-wrapper">
                        <img [src]="img" />
                      </div>
                      <div class="gift-info">
                        <p class="title">{{ title }}</p>
                        <p class="price mb-0">{{ price }}</p>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <div class="row gifts-group group-3">
                  <ng-template #policy let-img="img" let-title="title">
                    <div class="col-xl-3 col-md-4 col-sm-6 mb-30">
                      <div class="bonus">
                        <img [src]="img" class="img-fluid" />
                        <p>{{ title }}</p>
                      </div>
                    </div>
                  </ng-template>

                  <ng-container
                    [ngTemplateOutlet]="policy"
                    [ngTemplateOutletContext]="{
                      img: '../../../assets/product-detail/gifts/undraw_On_the_way_re_swjt.png',
                      title: 'Giao hàng toàn quốc'
                    }"
                  ></ng-container>

                  <ng-container
                    [ngTemplateOutlet]="policy"
                    [ngTemplateOutletContext]="{
                      img: '../../../assets/product-detail/gifts/undraw_business_deal_cpi9.png',
                      title: '1 đổi 1 trong 15 ngày đầu'
                    }"
                  ></ng-container>

                  <ng-container
                    [ngTemplateOutlet]="policy"
                    [ngTemplateOutletContext]="{
                      img: '../../../assets/product-detail/gifts/undraw_video_call_kxyp.png',
                      title: 'Hỗ trợ bảo hành'
                    }"
                  ></ng-container>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Đánh giá chi tiết">
              <div class="row features-specs-wrapper">
                <div class="col-lg-6">
                  <div *ngIf="blog" [innerHtml]="blog"></div>
                </div>
                <div class="col-lg-6">
                  <div class="specs pl-lg-5">
                    <table
                      style="width: 100%"
                      border="1"
                      width="100%"
                      *ngIf="product"
                    >
                      <tbody>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column1"
                                ><strong
                                  ><span style="color: black"
                                    >Hãng sản xuất</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                ><strong
                                  ><span style="color: black; text-transform: uppercase;">{{ product.brand }}</span></strong
                                ></span
                              >
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column1"
                                ><strong
                                  ><span style="color: black"
                                    >Tên sản phẩm</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                ><strong
                                  ><span style="color: black"
                                    >{{ product.name }}&nbsp;</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                ><strong
                                  ><span style="color: black"
                                    >Bộ nhớ trong</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2">{{
                                product.storage
                              }}</span>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                ><strong
                                  ><span style="color: black"
                                    >Dung lượng RAM</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2">{{
                                product.ram
                              }}</span>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                ><strong
                                  ><span style="color: black"
                                    >Tần số quét</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2">{{
                                product.frequency
                              }}</span>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 806.65pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            colspan="2"
                            width="1076"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                ><strong
                                  ><span style="color: black"
                                    >Hiển thị&nbsp;</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column1">Màn hình</span>
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                >{{ product.screen_size | exceptValue }}&nbsp;</span
                              >
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column1"
                                >Độ phân giải</span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2">
                                {{ product.display | exceptValue }}&nbsp;
                              </span>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column1"
                                >Công nghệ màn hình</span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2">
                                {{ product.screen_resolution | exceptValue }}&nbsp;
                              </span>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                ><strong
                                  ><span style="color: black"
                                    >Hệ điều hành</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2">{{
                                product.OS
                              }}</span>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                ><strong
                                  ><span style="color: black"
                                    >Chipset</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2">{{product.chipset}}</span>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column1"
                                ><strong
                                  ><span style="color: black"
                                    >Dung lượng Pin</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2">{{
                                product.battery | exceptValue
                              }}</span>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column1"
                                ><strong
                                  ><span style="color: black"
                                    >Thẻ SIM</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2">{{
                                product.sim | exceptValue
                              }}</span>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 806.65pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            colspan="2"
                            width="1076"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                ><strong
                                  ><span style="color: black"
                                    >Kết nối&nbsp;</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column1">Wifi</span>
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2">{{
                                product.wifi | exceptValue
                              }}</span>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column1">Bluetooth</span>
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                >{{ product.bluetooth | exceptValue }}&nbsp;</span
                              >
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                ><strong
                                  ><span style="color: black"
                                    > Camera</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2">{{
                                product.camera | exceptValue
                              }}</span>
                            </p>
                          </td>
                        </tr>                 
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                ><strong
                                  ><span style="color: black"
                                    >Kích thước (Dài x Rộng x Cao)</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2">{{
                                product.dimension
                              }}</span>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                ><strong
                                  ><span style="color: black"
                                    >Trọng lượng</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2">{{
                                product.weight
                              }}</span>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                ><strong
                                  ><span style="color: black"
                                    >Màu sắc</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                >{{ product.color }}&nbsp;</span
                              >
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 226.95pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="303"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                ><strong
                                  ><span style="color: black"
                                    >Xuất Xứ</span
                                  ></strong
                                ></span
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 578.2pt;
                              padding: 0.75pt 0.75pt 0.75pt 0.75pt;
                            "
                            width="771"
                          >
                            <p style="margin: 0cm; margin-bottom: 0.0001pt">
                              <span class="detail_table_column2"
                                >Trung Quốc</span
                              >
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Câu hỏi & Bình luận">
              <ng-template matTabContent>
                <div class="features-specs-wrapper">
                  <span style="color: #00447c; font-size: 24px"
                    ><strong>Nhận xét & Đánh giá</strong></span
                  >
                  <app-star [productId]="productId"></app-star>
                  <div class="row justify-content-center">
                    <div class="col-lg-10">
                      <app-comments
                        [productId]="productId"
                        (commentEmitter)="getComments($event)"
                        [storedComment]="comments"
                      ></app-comments>
                    </div>
                  </div>
                </div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
    <div class="related-products" *ngIf="similarProducts.length > 0">
      <div class="heading-button">Sản phẩm tương tự</div>
      <div class="products-wrapper row">
        <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let product of similarProducts">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>
