<div class="single-product">
  <div class="discount" *ngIf="product.status && (product.price - product.sale != 0)">-{{((product.price - product.sale) / product.price)* 100 | number:'1.0-0' }}%</div>
  <div class="card-top position-relative">
    <div class="status" *ngIf="!product.status">
      <span>{{ product.status ? "" : "Hết hàng" }}</span>
    </div>
    <img
      class="img-thumb"
      [src]="product.imageUrls[0]"
      [routerLink]="['/products', product.id ? product.id : product._id]"
    />
  </div>
  <div>
    <h5 [routerLink]="['/products', product.id ? product.id : product._id]">
      {{ product.name }}
    </h5>
  </div>
  <div>
    <div class="price mb-3" *ngIf="product.status">
      <span class="sale" *ngIf="product.sale != 0"
        >{{
          product.sale | convertPrice
        }}
        ₫</span
      >
      <div>
        <span [class]="product.sale != 0 ? 'original' : 'originalp'"
          >{{ product.price | convertPrice }} ₫</span
        >
      </div>
    </div>
    <div *ngIf="!product.status">
      <h4>Liên hệ</h4>
    </div>
    <button
      *ngIf="comparable"
      class="compare btn"
      (click)="compareOrRemove(product, $event)"
    >
      So sánh chi tiết
    </button>

    <!-- <div class="buttons-wrapper text-center" [ngClass]="{'has-one-btn': !product.status}">
      <button
        class="buy-now btn"
        *ngIf="product.status"
        (click)="add_to_cart(product.id ? product.id : product._id)"
      >
        <i class="fas fa-shopping-cart mr-1"></i>Mua ngay
      </button>
    </div> -->
  </div>
</div>
