<div class="layout">
    <img src="../../../assets/images/apply-job.png" alt="" class="img-slider" />
    <div class="container mb-5 ml-auto mr-auto">
        <div class="header">
            <h3 class="title">Tuyển dụng</h3>
            <p>Cơ hội tìm kiếm việc làm</p>
        </div>
        <div class="career-list">
            <ul class="career-row">
                <li>
                    <div class="career-table">
                        <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                        <div class="career-text">
                            <h4>Dropbox-- UX designer</h4>
                            <div class="career-option">
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                    <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                    <li><a routerLink="/contact"><span>Liên hệ</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="career-table">
                        <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                        <div class="career-text">
                            <h4>Dropbox-- UX designer</h4>
                            <div class="career-option">
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                    <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                    <li><a routerLink="/contact"><span>Liên hệ</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="career-table">
                        <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                        <div class="career-text">
                            <h4>Dropbox-- UX designer</h4>
                            <div class="career-option">
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                    <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                    <li><a routerLink="/contact"><span>Liên hệ</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="career-table">
                        <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                        <div class="career-text">
                            <h4>Dropbox-- UX designer</h4>
                            <div class="career-option">
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                    <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                    <li><a routerLink="/contact"><span>Liên hệ</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="career-table">
                        <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                        <div class="career-text">
                            <h4>Dropbox-- UX designer</h4>
                            <div class="career-option">
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                    <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                    <li><a routerLink="/contact"><span>Liên hệ</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="career-table">
                        <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                        <div class="career-text">
                            <h4>Dropbox-- UX designer</h4>
                            <div class="career-option">
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                    <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                    <li><a hrouterLink="/contact"><span>Liên hệ</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="career-table">
                        <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                        <div class="career-text">
                            <h4>Dropbox-- UX designer</h4>
                            <div class="career-option">
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                    <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                    <li><a routerLink="/contact"><span>Liên hệ</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="career-table">
                        <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                        <div class="career-text">
                            <h4>Dropbox-- UX designer</h4>
                            <div class="career-option">
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                    <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                    <li><a routerLink="/contact"><span>Liên hệ</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>    
</div>
