<div class="container mt-3 pt-3 ">
  <footer class="ml-xl-5 ml-md-4 ml-3 ">
      <div class="row">
          <div class=" col-12">
              <div class="row pt-5">
                  <div class="col-xl-4 col-12 mr-auto">
                      <div class="media flex-sm-row flex-column "> <img class="align-self-center img-fluid mobile-img " src="https://i.imgur.com/unD7BGU.png">
                          <div class="media-body">
                            <h4 class="mb-4 bonify">m<span><i class="fa fa-firefox text-light" aria-hidden="true"></i></span>bileS</h4>
                              <h5 class="description-img"><b>We make all the count for you count for us.</b></h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 my-auto ">
                      <div class="row">
                          <div class="col-md-6 col-12 mt-md-0 mt-3 mr-auto">
                              <ul class="list-unstyled text-muted list-menu">
                                  <li routerLink="/contact">Giới thiệu</li>
                                  <li routerLink="/recruitment">Tuyển dụng</li>
                                  <li routerLink="/check-coverage">Tra cứu bảo hành</li>
                                  <li routerLink="/policies">Chính sách</li>
                              </ul>
                          </div>
                          <div class="col-md-auto col-12">
                              <ul class="list-unstyled text-muted">
                                  <li>
                                  <li>Donwload App</li>
                                  <li><img src="https://i.imgur.com/iU0M5wp.png" class="img-fluid app-img" width="100"></li>
                                  <li><img src="https://i.imgur.com/M6ccl7k.png" class="img-fluid app-img" width="100"></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row mt-4 bottom-row justify-content-between">
                  <div class="col-auto ml-2 "><small>Made with ❤️ &#9400; Minastik Inc 2022</small></div>
                  <div class="col-sm-auto mr-sm-4 my-auto pt-sm-0 pt-3 ">
                      <p><span><i class="fa fa-instagram" aria-hidden="true"></i></span> <span><i class="fa fa-twitter" aria-hidden="true"></i></span> <span><i class="fa fa-facebook" aria-hidden="true"></i></span> <span><i class="fa fa-linkedin" aria-hidden="true"></i></span> </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</div>