.table-head {
  justify-content: space-between;
}
.table td,
.table th {
  vertical-align: middle;
}
.bi .bi-check2-all {
  color: green;
}
.bi .bi-x {
  color: red;
}

.container-1 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search {
  width: 400px;
  height: 38px;
  background: white;
  border: solid 1px;
  font-size: 15px;
  float: left;
  color: black;
  padding-left: 45px;
  border-radius: 10px;
}
.container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 15px;
  margin-top: 8px;
  z-index: 1;
  color: black;
}

.sort-search {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.sort-search textarea {
  margin: 0 2%;
}

.position-relative button {
  margin-left: 0%;
}
label {
  padding-left: 10px;
}
.dropdown-menu {
  right: 0;
  margin: 0 !important;
}
.dropdown-menu span {
  margin: 0;
}

.main-layout {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif, Arial;
}

.header-main {
  padding: 0;
}
.header-admin {
  padding-top: 20px;
}

.table td,
th {
  text-align: center;
}
.trash {
  color: red;
  padding: 10px;
  cursor: pointer;
}
.pencil {
  padding: 10px;
  cursor: pointer;
}
.status {
  cursor: pointer;
  margin: 20px !important;
}

/* style sidenav */
.sidenav {
  height: calc(100% - 85px)!important;
  margin-top: 85px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 15px;
  background-color: #ffffff;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
l .sidenav a:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.canvas-sidenav {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
}
img {
  height: 80px;
}
table td {
  padding-left: 20px;
}
.cpu {
  width: 28em;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  margin-left: 20px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.ram {
  width: 28em;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.connection {
  width: 27em;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.image_ava p {
  color: red;
  font-size: 15px;
}

.label-file {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.after-choose {
  color: blue;
}
h2 {
  font-family: "Carter One", cursive !important;
}
.btn-primary {
  color: white;
  background-color: black;
  border-color: white;
}
.laptop_name {
  cursor: pointer;
}
.table p.laptop_name:hover {
  color: red;
}
.ml-auto,
.mx-auto {
  margin-left: 10px !important;
  margin-bottom: 5px;
  padding: 2px;
  border: 1px solid #e1d6d6;
  border-radius: 5px;
  width: 31.1% !important;
  position: relative;
}
.bi .bi-plus-square-dotted {
  padding: 5px;
}
img.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
img {
  width: 75px;
}
.plus {
  padding-left: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.delete-thumbnail {
  width: 20px;
  border-radius: 50%;
  height: 20px;
  right: 10px;
  top: 10px;
  left: auto;
  transform: translate(50%, -50%);
  position: absolute;
  /* border: solid; */
}

.modal {
  z-index: 99 !important;
}