section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #00395a;
}

/* style bac-button */
.back-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff4040;
  color: #ff4040;
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.5s;
}
.back-button:hover {
  background-color: #ff4040;
  color: white;
}

/* style log-in form */
.form-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1100px;
  margin: 20px;
  height: 600px;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-box {
  width: 45%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.form-box .log-in-form,
.form-box .sign-up-form {
  width: 100%;
  transition: all 0.5s;
}

.form-box form {
  position: relative;
  width: 100%;
  padding: 0 0 0 75px;
}

.form-box form h2 {
  color: #ff4040;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.form-box .input-field {
  position: relative;
  margin-bottom: 25px;
  margin-inline: auto;
  width: min(400px, 100%);
}

.form-box .input-field input {
  position: relative;
  background: #efefef;
  width: 100%;
  font-weight: 500;
  color: #ff4040;
  padding: 0.5em 0.8em 0.5em 2.5em;
  border: none;
  outline: none;
  font-size: 18px;
  border-bottom: 2px solid gray;
}

.form-box .input-field input::placeholder {
  font-weight: 500;
  color: #ff4040;
}

.form-box .input-field i {
  position: absolute;
  top: 13px;
  color: #ff4040;
  left: 1rem;
  font-size: 20px;
}

/* style sign-up form */
.form-box .sign-up-form {
  position: absolute;
  opacity: 0;
  left: -100%;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

.form-box .sign-up-form form {
  height: 100%;
  bottom: 0px;
}

.form-box.active .sign-up-form {
  left: 0;
  opacity: 1;
}

.form-box.active .log-in-form {
  transform: translateX(-100%);
  opacity: 0;
}

p.toggler {
  margin-top: 30px;
  text-align: center;
  color: #3ba3eb;
  font-weight: 550;
}

p.toggler span {
  color: #ff4040;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

p.toggler span:hover {
  color: #ff4040;
  cursor: pointer;
}

/* style submit button */
.submit-btn {
  text-align: center;
}
.submit-btn button {
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  color: white;
  transition: all 0.4s;
  background: linear-gradient( 91deg, rgb(1 30 50) 0%, rgb(255 0 0) 100% );
  outline: none !important;
  font-weight: 600;
  font-family: "Noto Serif", sans-serif;
  text-transform: uppercase;
}

/* style image box */
.img-box {
  position: relative;
  width: 50%;
  height: 100%;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
}


.gg-login p span {
  position: relative
}

.gg-login p span::before {
  right: 0;
  transform: translateX(120%)!important;
}
.gg-login p span::after {
  left: 0;
  transform: translateX(-120%);
}
.gg-login p span::before, .gg-login p span::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 75px;
  height: 1px;
  background-color: gray;
}

.img-box::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3ba3eb;
  opacity: 0.4;
  transform-origin: bottom;
  transform: skewX(-25deg) translateX(10%);
}

.img-box img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  object-fit: cover;
  /* filter: saturate(3); */
}

@media (max-width: 992px) {
  .form-box form h2 {
    font-size: 27px;
    margin-bottom: 25px;
  }
  .form-box form {
    padding-left: 50px;
  }
  .back-button {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 768px) {
  .img-box {
    display: none;
  }
  .form-box {
    width: 100%;
  }
  .form-box form {
    padding: 0 20px;
  }
  .form-box form h2 {
    font-size: 24px;
  }
}