<section>
    <div class="form-wrapper">
      <div class="back-button" routerLink="/">
        <i class="fas fa-arrow-left"></i>
      </div>
  
      <div class="form-box">
        <div class="log-in-form">
          <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
            <h2>Đăng nhập</h2>
            <div class="input-field">
              <input
                type="text"
                name="email"
                placeholder="Email"
                formControlName="email"
              />
              <i class="far fa-envelope"></i>
            </div>
            <div class="input-field">
              <input
                type="password"
                name="pass"
                placeholder="Mật khẩu"
                formControlName="password"
              />
              <i class="fas fa-lock"></i>
            </div>
            <div class="submit-btn mb-4">
              <button class="btn" [disabled]="!loginForm.valid">Đăng nhập</button>
            </div>
            <div class="gg-login text-center">
              <p class="mb-2">
                <span>hoặc</span>
              </p>
              <img (click)="authService.GoogleAuth()" style="cursor: pointer" src="../../assets/authentication image/google-icon.png" alt="">
            </div>
            <p class="toggler">
              Bạn chưa có tài khoản?<br />
              <span (click)="toggleForm()">Đăng kí ngay</span>
            </p>
          </form>
        </div>
        <div class="sign-up-form">
          <form (ngSubmit)="onSignup()" [formGroup]="signupForm">
            <h2>Đăng ký</h2>
            <div class="input-field">
              <input
                type="text"
                name="name"
                placeholder="Họ và tên"
                formControlName="name"
              />
              <i class="fas fa-user-tie"></i>
            </div>
  
            <div class="input-field">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                formControlName="email"
              />
              <i class="far fa-envelope"></i>
              <span
                id="email_error"
                style="font-size: 10px; color: red; padding-left: 25px"
              ></span>
            </div>
  
            <div class="input-field">
              <input
                type="password"
                name="password"
                placeholder="Mật khẩu"
                formControlName="password"
              />
              <i class="fas fa-lock"></i>
            </div>
  
            <div class="input-field">
              <input
                type="tel"
                name="phone"
                id="phone"
                placeholder="Số điện thoại"
                formControlName="phone"
              />
              <i class="fas fa-mobile-alt"></i>
              <span
                id="phone_error"
                style="font-size: 10px; color: red; padding-left: 25px"
              ></span>
            </div>
            <div class="submit-btn mb-4">
              <button class="btn" [disabled]="!signupForm.valid">Đăng kí</button>
            </div>
            <p class="toggler">
              Bạn đã có tài khoản?<br />
              <span (click)="toggleForm()">Đăng nhập</span>
            </p>
          </form>
        </div>
      </div>
      <div class="img-box">
        <img src="../../assets/authentication image/3293465.jpg" />
      </div>
    </div>
  </section>